body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.symplometro-app {
  min-width: 300px;
}

.symplometro-loading {
  padding: 10px;
  font-size: 1.6em;
  text-align: center;
}

.symplometro-events {
  padding: 10px;
  font-size: 1.6em;
  text-align: center;
}

.symplometro-footer {
  text-align: center;
  background-color: #ecf0f1;
  color: #323232;
  padding: 5px;
  font-size: 1.2em;
}

.symplometro-footer a {
  text-decoration: none;
  color: #0a6ebd;
  font-weight: 600;
}

.symplometro-footer b {
  font-weight: 600;
}

.symplometro-notification {
  color: #fff;
  text-align: center;
}
.symplometro-notification > div:hover {
  cursor: pointer;
}

.symplometro-notification .on {
  background-color: #2ecc71;
  padding: 3px;
}

.symplometro-notification .off {
  background-color: #e74c3c;
  padding: 3px;
}